:root {
	--main-width: 800px;
	--main-font: 1em 'Roboto', sans-serif;

	--main-white-color: #fff;
	--input-border-color: rgb(200, 225, 255);
	--button-color: rgb(0, 158, 0);
	--button-color-hover: green;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	padding: 0.5em;
	font: var(--main-font);
	color: #000;
	background-color: var(--main-white-color);
}

section {
	margin: 2.25rem auto;
	width: var(--main-width);
}

p {
	margin: .75rem 0 1.25rem;
}

input {
	width: 100%;
	padding: 0 10px;
	font: var(--main-font);
	appearance: none;
	outline: none;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid lightslategray;
	background-color: transparent;
}

input:not([type="button"]):is(:hover, :focus) {
	border: 1.25px solid var(--input-border-color);
	box-shadow: 0 0 3px 2px var(--input-border-color);
	transition: all 0.2s ease;
}

input[type="button"] {
	border: 1.25px solid var(--button-color);
	color: var(--main-white-color);
	background-color: var(--button-color);
}

input[type="button"]:is(:hover, :focus) {
	border: 1.25px solid var(--button-color-hover);
	background-color: var(--button-color-hover);
	transition: all 0.2s ease;
}

input[type="button"]:focus {
	border-radius: 0.25rem;
	border: 1.25px solid var(--button-color);
	box-shadow: 0 0 3px 1px rgb(186, 255, 186), 0 0 3px 2px rgb(90 160 90);
	transition: all 0.2s ease;
}

.form {
	margin: 0 auto;
	width: var(--main-width);
	display: grid;
	grid-gap: 20px;
	grid-template-rows: 2em;
}

.form-move {
	grid-template-columns: repeat(3, 1fr);
}

.form-placeholder {
	grid-template-columns: repeat(1, 1fr);
}

input::placeholder {
	color: gray;
}
